/*
variables
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

/*
GLOBAL SECTION
*/
p {
  margin-bottom: 1.25rem;
}

/*
BUTTONS
*/

.btn,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}

/*
ANIMECARD SECTION
*/


.SingleAnimeCharacter-section {
    text-align: center;

  }
  .SingleAnimeCharacter {
    width: var(--smallWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
    text-align: left;
  }
  .SingleAnimeCharacter img {
    border-radius: var(--mainBorderRadius);
  }
  .SingleAnimeCharacter-info p {
    
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.8;
  }
  .SingleAnimeCharacter-info span {
    margin-right: 0.5rem;
  }
  .SingleAnimeCharacter-data {
    background: var(--primaryLightColor);
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBorderRadius);
    color: var(--primaryColor);
  }
  .SingleAnimeCharacter-info {
    padding-top: 2rem;
  
  }
