.mainCharacterList {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    border-radius: var(--mainBorderRadius);
    padding: 1rem;
    width:340px;
    display: flex;
  }
  .mainCharacterList:hover {
    box-shadow: var(--darkShadow);
  }