.style {
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
}
.text{
    color: inherit;
}
