.main-search {
  display: flex;
  justify-content: center;
}

.container-anime{
  grid-gap:100px;
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4,1fr);
}
@media screen and (max-width: 1320px){
  .container-anime{
    grid-gap:25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    justify-items: center;
  }
}
@media screen and (max-width: 1200px){
  .container-anime{
    grid-gap:25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    justify-items: center;
  }
}
@media screen and (max-width:700px){
  .container-anime{

    /* margin-left:50px; */
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
}

