.main-search {
  display: flex;
  justify-content: center;
}

.container-anime{
  grid-gap:100px;
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4,1fr);
}
@media screen and (max-width: 1200px){
  .container-anime{
    grid-gap:50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width:700px){
  .container-anime{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:425px){
  .container-anime{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
